<button
    class="w-full p-2 text-left relative flex gap-2 items-center"
    data-component="left-panel-btn"
    data-component-id="@{{ handle }}"
    data-search-data="{{ name }} - {{ handle }}"
    data-original-text="{{ name }}"
    {% if craft.app.request.getParam('componentId') == '@'~handle %}
        x-init="$parent = $el.closest('[x-disclosure]'); indexes = [0]; if($parent._x_dataStack.length == 5){indexes.push(2)}; indexes.forEach((i) => {$parent._x_dataStack[i].__isOpen = true;});"
    {% endif %}
>
    {% set color = 'bg-red-400' %}
    {% set color = status == 'wip' ? 'bg-orange-400' : color %}
    {% set color = status == 'ready' ? 'bg-green-400' : color %}
    <div class="rounded-full {{ color }} w-3 h-3"></div>
    {{ name|title }}
</button>
