{% set vars = raw(variables|map((v,k) => context[k])|json_encode)|replace('"',"'") %}
<div x-data="{vars:{{vars}}, iframe:document.querySelector('iframe')}" x-init="url = new URL(iframe.src), params = new URLSearchParams(url.search)" x-effect="{{ raw(variables|map((v,k) => "vars.#{k}")|join(',')) }}, Object.entries(vars).forEach((v) => {params.set(v[0], (typeof v[1] === 'object' ? JSON.stringify(v[1]) : v[1]))}), newUrl = new URL(url.origin+url.pathname+'?'+params.toString()), iframe.src=newUrl.href" class="grid grid-cols-3 gap-8">
{% for key, var in (variables ?? []) %}
<div class="relative">
<label for="{{ key }}" class="absolute -top-2 left-2 inline-block px-1 text-xs font-medium text-gray-900 before:content-[''] before:block before:bg-gray-100 before:inset-0 before:absolute before:-translate-y-1.5"><span class="relative">{{ key|upper }}</span></label>
	{% if var is iterable and var.type == 'select' %}
		
			<select x-model.fill="vars.{{ key }}" type="text" name="{{ key }}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
				{% for option in var.options %}
				<option value="{{ option.value }}" {{ context[key] == option.value ? 'selected' }}>{{ option.label }}</option>
				{% endfor %}
			</select>

	{% elseif var == 'number' %}
			  <input x-model.fill="vars.{{ key }}" type="number" name="{{ key }}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" value="{{ var }}">
	{% elseif var == 'checkbox' %}
			<div class="block w-full rounded-md border-0 py-1.5 bg-white text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
			
					<input x-model.fill="vars.{{ key }}" type="hidden" name="{{ key }}" value="{{ var }}">
		 		
					<!-- Button -->
					<button
						x-ref="toggle"
						@click="vars.{{ key }} = ! vars.{{ key }}"
						type="button"
						role="switch"
						:aria-checked="vars.{{ key }}"
						:class="vars.{{ key }} ? 'bg-green-400' : 'bg-slate-300'"
						class="relative ml-3 mt-1.5 inline-flex w-14 rounded-full py-1 transition"
					>
						<span
							:class="vars.{{ key }} ? 'translate-x-7' : 'translate-x-1'"
							class="bg-white h-6 w-6 rounded-full transition shadow-md"
							aria-hidden="true"
						></span>
					</button>
			</div>
	{% else %}
			<input x-model.fill="vars.{{ key }}" type="text" name="{{ key }}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" value="{{ var }}">
	{% endif %}
	</div>
{% endfor %}
</div>

